body {
    background-color: rgb(0, 159, 227);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.head {

}

.calculator-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.logo {
    max-height: 60px;
    margin-bottom: 20px;
}

.calculator-display {
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 2rem;
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.calculator-buttons button {
    padding: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator-buttons button:hover {
    background-color: rgba(0, 159, 227, 0.8);
    color: #fff;
}
#emptyButton{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

}

.calculator-description {
    color: #fff;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}
